# Python
__pycache__/
*.pyc
*.pyo
*.pyd

*.pt
*.bin
*.pth

PosTagging/outputs/models/
PosTagging/outputs/processed/
*.pt
# Entornos virtuales
venv/
.env/

# IDEs
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
*.iml