# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Modelos y datos procesados
*.pt
*.bin
*.pth
outputs/models/
outputs/processed/

# Entornos virtuales
venv/
.venv/
.env/

# IDEs
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
*.iml